@if(loading){
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<h2 mat-dialog-title>Add user</h2>
<mat-dialog-content class="padding-top-8">

  <div>
    <mat-form-field class="mg-16" appearance="outline">
      <mat-label>First name</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="Placeholder">
      <!-- <mat-hint>please enter your name</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Placeholder">
      <!-- <mat-hint>please enter your name</mat-hint> -->
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="width-100" appearance="outline">
      <mat-label>Birth date</mat-label>
      <input [disabled]="loading" [(ngModel)]="birthDate" matInput [matDatepicker]="datepicker" />
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
      </mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="width-100" appearance="outline">
      <mat-label>Street + House No.</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Placeholder">
      <!-- <mat-hint>please enter your name</mat-hint> -->
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="mg-16" appearance="outline">
      <mat-label>Zip code</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Placeholder">
      <!-- <mat-hint>please enter your name</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="Placeholder">
      <!-- <mat-hint>please enter your name</mat-hint> -->
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions align ="end">
  <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="loading" mat-button color="primary" (click)="saveUser()">Save</button>
</mat-dialog-actions>